*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    background-color: lightgray;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.box{
    width: 600px;
    height: 500px;
    background-color: blue;
    position: relative;
    margin: 0 auto;
}

.box > .inside_box1{
    width: 200px;
    height: 200px;
    background-color: red;
    position: absolute;  
    /* transition: 1s; */   
    color: #fff;
    z-index: 4; 
}

.box > .inside_box2{
    color: #fff;
    width: 200px;
    height: 200px;
    background-color: black;
    position: absolute; 
    transition: 1s;
    z-index: -1;
    margin-top: 250px;
    left: -100px;
}

.box:hover .inside_box2{
    z-index: 1;
}

.box2{
    width: 100%;
    height: 100px;
    background-color: brown;
    color: #fff;
    position: fixed;    
    /* position: sticky; */
    top: 0; 
    opacity: 0.5;
}   

.text{
    margin-top: 100px;      
}